/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
**/.DS_Store

storage/.DS_Store
.DS_Store

### Laradock ###
/laradock*
/oradiag_www-data*
.gitmodules
